<h3>Editing {{data.name}}</h3>

<form method="POST" action="/updateLanguage">
  <div class="form-group mb-2">
    <label>Language name</label>
    <input  class="form-control" name="name" value={{data.name}}>
  </div>
  <div class="form-group">
    <label >Year created</label>
    <input  class="form-control" name="yearCreated" value={{data.yearCreated}}>
  </div>
   <div class="form-group">
    <label >Name of designer</label>
    <input  class="form-control" name="designedBy" value={{data.designedBy}}>
  </div>
   <div class="form-group">
    <label>Website URL</label>
    <input  class="form-control" name="website" value={{data.website}}>
  </div>
  <input type="hidden" name="id" value={{data.id}}>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
